<mat-card class="mat-card-flat">
  <mat-card-title><h2>Oh hai!</h2></mat-card-title>
  <p>
    This starting page is demonstrative. Please visit
    <a routerLink="/playlists">Your Playlists</a> (also in the menu above).
  </p>
</mat-card>
