<app-playlist-filter></app-playlist-filter>

<div class="playlists">
  <mat-card class="card" *ngFor="let playlist of connectedSource | async">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <mat-icon>music_note</mat-icon>
      </div>
      <mat-card-title>{{ playlist.name }}</mat-card-title>
      <mat-card-subtitle>{{ playlist.curator_name }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="playlist.artwork" [alt]="playlist.name" [title]="playlist.name" />

    <mat-card-actions>
      <a mat-button [href]="playlist.url" target="_blank">View on iTunes</a>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator
  #paginator
  [length]="playlists?.length"
  [pageSize]="8"
  [pageSizeOptions]="[6, 8, 12, 16, 48, 96]"
  [showFirstLastButtons]="true"
></mat-paginator>
