<header>
  <mat-toolbar>
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
        [(ngModel)]="value"
      />
      <button
        mat-button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''; applyFilter()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar>
</header>
